body{
    background-color: rgba(255, 255, 255, 0.425);
}

h1, h2, label, button{
    color: rgb(0, 0, 0);
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    width: 350px;
    gap: 30px;
    margin-bottom: 40px;
}

h1{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    line-height: 0.9em;
    letter-spacing: 0.02em;
}

#calculate{
    width: 100px;
}

label, button{
    font-size: 20px;
}

ul{
    list-style-type:circle;
}

input{
    width: 100px;
    height: 20px;
}

select{
    width: 40px;
    height: 20px;
    text-align: center;
}

.githubLogo{
    width: 50px;
}

.underline{
    width: 150px;
    height: 2px;
    background-color: grey;
}